body{
    margin: 0;
    background-color: #6182a7;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background-color: transparent;
}
::-webkit-scrollbar-thumb {
background-color: #d6dee1;
border-radius: 20px;
}



  
.mainDiv{
    min-width: 100vw;
    flex-direction: row;
    justify-content: space-around !important;
    margin: 0px;
}
#formHeader{
    font-size: 25px;
}
form{
    padding: 10px;
}
.label{
    font-size: 18px;
    font-weight: 500;
}
.formGroup{
    margin-bottom: 20px;
}
.row{
    margin: 0px;
}
.form-control{
    height: 35px;
    background: white;
    color: rgba(0,0,0,.8);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}
.userForm{
    width: 600px;
    height: 600px;
}
.userForm{
    margin-top: 40px;
    opacity: 90%;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
    padding: 20px;
    margin: 40 20px;
}
.dropdown, #textAreaWrapper{
    margin-right: 20px;
}
.submitButton{
    border: 1px solid black;
}
.deleteBtn{
    display: inline;
    background-color: rgb(193, 87, 87);
    border: none;
    padding: 0px;
    z-index: 100;
}

table {
border: 1px solid #ccc;
border-collapse: collapse;
margin: 0;
padding: 0;
width: 680px !important;
table-layout: fixed;
margin-top: 50px !important;
height: 0px;
}

table caption {
font-size: 1.5em;
margin: .5em 0 .75em;
}

table tr {
background-color: #f8f8f8;
border: 1px solid #ddd;
padding: .35em;
}
.tableTr{
    cursor: pointer;
}
.tableTr:hover{
background-color: rgb(230, 230, 230) !important;
transition: background-color 300ms linear;
}

table th,
table td {
padding: .625em;
text-align: center;
}

table th {
font-size: .85em;
letter-spacing: .1em;
text-transform: uppercase;
}

@media screen and (max-width: 650px) {
table {
    border: 0;
}

table caption {
    font-size: 1.3em;
}

table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    
}

table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}

table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

table td:last-child {
    border-bottom: 0;
}
}
  
  

.deleteBtn:hover{
    background-color: rgb(233, 154, 154);
}
@media only screen and (min-width: 650px) {
    td{
        word-wrap: break-word;
    }
    table{
        background-color:#f8f8f8;
    }
}

@media only screen and (max-width: 1000px) {
    .table{
        width: 100%;
    }
    .mainDiv{
        padding: 20px !important;
        min-width: auto;
    }
    
}

@media only screen and (max-width: 450px) {
    body{
        overflow-x: auto;
    }
    
    form{
        padding: 0px;
    }
    .form-control{
        margin-right: 5px;
    }
    .dropdown, #textAreaWrapper{
        margin-right: 5px;
    }
}
    
